.pyg_view{
    .goods_name{
        padding: 5px;
        font-size: 14px;
        background-color: #fff;
    }
    .goods_price{
        padding-left: 10px;
        color: orange;
        font-size: 18px;
        font-weight: bold;
        background-color: #fff;
    }
    .goods_send{
        background-color: #fff;
        ul{
            padding: 0 5px;
            li{
                font-size: 14px;
                display: flex;
                border-bottom: 1px solid #666;
                padding: 10px 5px;
                span:nth-child(1){
                    flex: 1;
                    color: #666;
                }
                span:nth-child(2){
                    flex: 2;
                }
            }
        }
    }
    .goods_des{
        padding: 0 5px;
        #item1{

        }
        #item2{
            .gd_title{
                font-size: 16px;
                font-weight: 600;
                padding: 10px 0;
                border-bottom: 1px solid black;
            }
            .gd_content{
                display: flex;
                padding: 10px 0;
                font-size: 14px;
                color: #666;
                span:nth-child(1){
                    flex: 1;
                }
                span:nth-child(2){
                    flex: 2;
                    
                }
            }
        }
    }


}
//底部
footer{
    display: flex;
    a{
        flex: 1;
        font-size: 14px;
        border-right: 1px solid #666;
    }
    a:last-child{
        border-right: none;
    }
    a:nth-child(3){
        justify-content: center;
        text-align: center;
        background-color: orange;
        color: white;
    }
    a:nth-child(4){
        justify-content: center;
        text-align: center;
        background-color: rgb(255, 102, 0);
        color: white;
    }
}